@font-face {
  font-family: 'Zawgyi-One';
  src: url('fonts/zawgyi.ttf') format('truetype');
}
@font-face {
  font-family: 'PyiDaungSu';
  src: url('fonts/pyidaungsu.ttf') format('truetype');
}
.zg {
  width: 75%;
  height: 50vh;
  font-family: Zawgyi-One;
  font-size: 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.uni {
  width: 75%;
  height: 50vh;
  font-family: PyiDaungSu;
  font-size: 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.about {
  width: 50%;
  margin: 0 auto;
}